@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  background-color: #f0f2f5;
  font-family: "SF Pro Display", sans-serif;
  overflow-x: hidden;
}

h2 {
  margin: 0;
}

.main {
  display: flex;
  gap: 8rem;
  padding: 10% 20%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 50%;
}

.left {
  align-items: start;
  padding-top: 6rem;
}

.right {
  align-items: center;
}

.logo {
  height: 106px;
  margin: -28px;
}

.text {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  width: 500px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
  background-color: white;
  border-radius: 12px;
  width: fit-content;
  padding: 20px;
  padding-bottom: 24px;
  text-align: center;
}

.input {
  border-radius: 4px;
  border: 1px solid #dddfe2;
  padding: 14px 16px;
  font-size: 17px;
  color: #000;
  width: 330px;
}

.input:focus {
  outline: none;
  border: 1px solid #1877f2;
  box-shadow: 0 0 0 2px #e7f3ff;
}

.log-in {
  padding: 14px 16px;
  font-size: 20px;
  color: #fff;
  background-color: #1877f2;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  width: 100%;
  font-weight: bold;
}

.link {
  color: #1877f2;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
}

.link:hover {
  text-decoration: underline;
}

.line {
  color: #dadde1;
  border-bottom: 1px solid #dadde1;
  width: 100%;
}

.create-account {
  padding: 14px 16px;
  font-size: 17px;
  color: #fff;
  background-color: #42b72a;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
  width: fit-content;
}

.page-link {
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
}

.page-link a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.page-link a:hover {
  text-decoration: underline;
}
